<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Login<span class="text-danger">Test</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#" (click)="onClickLogout()" >Salir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">{{nombreUsuario}}</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <img src="{{fotoUsuario}}" class="rounded-circle">
        <span class="badge pill badge-secondary">{{emailUsuario}}</span>
      </li>
    </ul>

  </div>
</nav>
