<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">LOGIN</h1>
      
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mt-2">
    <!--<div class="card">
      <div class="card-body d-flex justify-content-around">
        
        <button class="btn btn-lg btn-google" (click)="onClickGoogleLogin()" ><i class="fa fa-google-plus" aria-hidden="true"></i> Google</button>
        
      </div>
    </div>
  </div> -->

  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body d-flex justify-content-around">
        
        <button class="btn btn-lg btn-google" (click)="logueo()" ><i class="fa fa-google-plus" aria-hidden="true"></i> Google2</button>
        
      </div>
    </div>
  </div>
  <button class="button btn-info" (click)="signOut()">SALIr</button>
</div>

