<div class="row" style="margin-top: 25px">
	<div class="col-md-6">
	
		<div class="col-md-6">
			<div class="card ">
			  <div class="card-header " >
			  	<img class="rounded-circle" src="{{fotoUsuario}}">
			  </div>
			  <div class="card-body bg-dark text-white">
			  	<span class="text-danger">Email: </span>{{emailUsuario}}
			  	<br>
			  	<span class="text-danger"> User: </span>{{nombreUsuario}}
			  	<br>
			  	<span class="text-danger text-center" (click)="onClickLogout()"> Salir </span>
			  </div> 
			  
			</div>
		</div>
		<hr>
		
			<div class="col-md-6 " >
			<div class="card">
				<div class="card-header " >
			  	<span >Bitacora</span>
			  </div>
			  <div class="card-body ">
			  	<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						     
						      <th scope="col">Actividad</th>
						    
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">1</th>
						      <td>Mark</td>
						    
						      
						    </tr>
						    <tr>
						      <th scope="row">2</th>
						      <td>Jacob</td>
						    
						      
						    </tr>
						    <tr>
						      <th scope="row">3</th>
						      <td>Larry</td>
						   
						     
						    </tr>
						  </tbody>
						</table>
			  </div>
			  		
			</div>
		</div>
	
		
	
</div>
<div class="col-md-6">
	<button class="button" (click)="get_file()">pedir</button>
</div>
</div>
